<font color=#09D8B9><h1><b>EDA</b></h1></font>

<h5>We are looking to  understand the structure and characteristics of data using tools like(python-notebooks, SQL_DB, PowerBi)<h5>

<p>Our data was extremely dirty, so they underwent a pre-cleaning process before being loaded into a dataframe and then into a SQL database.</p>

<p>Our data consists of real company data, They came in Excel format with unconventional structures.</p>

**for now, we have four main tables**

- ins_programadas (inspecciones programadas)
- ins_no_programados (inspecciones no programadas)
- act_programadas (actividades programadas)
- act_no_programadas (actividades no programadas)

---

<font color=#09D825 ><h4>Preprocess stage</h4></font>

<ol>
<li>load own libraries</li>
<li>load alien python libraries</li>
<li>defined modules</li>
</ol>

In [15]:
import sys
sys.path.append(r"../Aplication")
import Pysqlconnect

In [8]:
from decouple import config
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os
import re

**We create the table before using the preload file**
- first we need to know our data

In [13]:
def load_query(): #create a function for iter the diferents tables
    lst = []
    for i in range(1,5):
        get_all_data = f"SELECT * FROM {config(f"DB_TABLE{i}")}"
        lst.append(get_all_data)
    return lst

datasets = load_query() 
print(datasets) #show the querys

['SELECT * FROM act_programadas', 'SELECT * FROM act_no_programadas', 'SELECT * FROM ins_no_programadas', 'SELECT * FROM ins_programadas']

In [17]:
#define our datasets

df_ins_no = pd.read_sql(datasets[2],Pysqlconnect.connection())
df_ins = pd.read_sql(datasets[3],Pysqlconnect.connection())
df_act_no = pd.read_sql(datasets[1],Pysqlconnect.connection())
df_act = pd.read_sql(datasets[0],Pysqlconnect.connection())

In [22]:
print(f"""
ins_programadas shape     {df_ins.shape[0]}
ins_no_programadas sahpe  {df_ins_no.shape[0]}

act_programadas  shape    {df_act.shape[0]}
act_no_programadas shape  {df_act_no.shape[0]}
""")
# print the number of entries for each dataset

ins_programadas shape     137912
ins_no_programadas sahpe  250654

act_programadas  shape    48428
act_no_programadas shape  89369

We can see that we have around 400k rows betwen all tables

In [27]:
print(f"""
    ins_programadas shape     {df_ins.shape[0]}
    ins_no_programadas shape  {df_ins_no.shape[0]}

    act_programadas  shape    {df_act.shape[0]}
    act_no_programadas shape  {df_act_no.shape[0]}
    """)

    ins_programadas shape     137912
    ins_no_programadas shape  250654

    act_programadas  shape    48428
    act_no_programadas shape  89369

In [23]:
print(f"""
ins_programadas nulos     {df_ins.isnull().sum().sum()}
ins_no_programadas nulos  {df_ins_no.isnull().sum().sum()}

act_programadas nulos     {df_act.isnull().sum().sum()}
act_no_programadas nulos  {df_act_no.isnull().sum().sum()}
""")
#looking for null values

ins_programadas nulos     57891
ins_no_programadas nulos  27281

act_programadas nulos     41891
act_no_programadas nulos  47327

In [24]:
print("Nulls per column in df_ins_programadas:")
print(df_ins.isnull().sum())

print("\nNulls per column in df_ins_no_programadas:")
print(df_ins_no.isnull().sum())

print("\nNulls per column in df_act_programadas:")
print(df_act.isnull().sum())

print("\nNulls per column in df_act_no_programadas:")
print(df_act_no.isnull().sum())

#now we observe what columns have nulls and how much per each column

Nulls per column in df_ins_programadas:
Código centro          1300
Centro                 1300
Ubicac. técnica        1300
Denominación Ubic.     1300
Equipo                 1300
Denominación           1300
No. Plan               1300
Desc. Plan             1300
Orden                  1300
Actividad              1300
Descripción            1769
Clase de orden         1300
Status sistema         1300
Inicio program.        1354
Responsable           39168
dtype: int64

Nulls per column in df_ins_no_programadas:
Código centro         2415
Centro                2415
Ubicac. técnica       2415
Denominación Ubic.    2415
Equipo                2415
Denominación          2415
No. Plan              1300
Desc. Plan            1300
Orden                 1300
Actividad             1300
Descripción           1933
Clase de orden        1300
Status sistema        1300
Inicio program.       1758
Duración              1300
dtype: int64

Nulls per column in df_act_programadas:
Código centro           820
Centro                  820
Ubicac. técnica         758
Denominación Ubic.      758
Equipo                  759
Denominación            855
No. Plan                940
Desc. Plan              758
Orden                   758
Actividad               762
Clase de orden          758
Status sistema          758
Inicio program.         794
Responsable           18120
Prioridad             13473
dtype: int64

Nulls per column in df_act_no_programadas:
Código centro           824
Centro                  824
Ubicac. técnica         762
Denominación Ubic.      766
Equipo                  762
Denominación            969
No. Plan                933
Desc. Plan              762
Orden                   762
Actividad               768
Clase de orden          758
Status sistema          758
Inicio program.         794
Duración                758
Prioridad             36127
dtype: int64